-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sentrova
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_activity_logs`
--

DROP TABLE IF EXISTS `admin_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_activity_logs` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `admin_id` int(10) unsigned DEFAULT NULL COMMENT 'Foreign key to administrator who performed action (NULL for system)',
  `action` varchar(100) NOT NULL COMMENT 'Action code (e.g., login, update_quote, delete_service)',
  `entity` varchar(80) NOT NULL COMMENT 'Target entity table/resource (e.g., quote_requests, services)',
  `entity_id` varchar(50) DEFAULT NULL COMMENT 'Primary key of the affected entity record',
  `details` text DEFAULT NULL COMMENT 'JSON or descriptive payload detailing changes made',
  `ip_address` varchar(45) DEFAULT NULL COMMENT 'Client IPv4/IPv6 address',
  `user_agent` varchar(255) DEFAULT NULL COMMENT 'Browser/client User-Agent string',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_activity_admin_id` (`admin_id`),
  KEY `idx_activity_entity` (`entity`,`entity_id`),
  KEY `idx_activity_action` (`action`),
  KEY `idx_activity_created_at` (`created_at`),
  CONSTRAINT `fk_activity_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Security audit trail recording all administrative portal modifications';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_activity_logs`
--

LOCK TABLES `admin_activity_logs` WRITE;
/*!40000 ALTER TABLE `admin_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL COMMENT 'Full name of the administrative user',
  `email` varchar(191) NOT NULL COMMENT 'Unique login email address',
  `password_hash` varchar(255) NOT NULL COMMENT 'Bcrypt or Argon2 / Scrypt hashed password',
  `salt` varchar(64) DEFAULT NULL COMMENT 'Cryptographic salt if scrypt/PBKDF2 is used',
  `role` enum('super_admin','admin','operator') NOT NULL DEFAULT 'admin' COMMENT 'Role privilege tier',
  `status` enum('active','inactive','suspended') NOT NULL DEFAULT 'active' COMMENT 'Account status',
  `last_login_at` datetime DEFAULT NULL COMMENT 'Timestamp of last successful login',
  `last_login_ip` varchar(45) DEFAULT NULL COMMENT 'IPv4/IPv6 address of last login',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_admins_email` (`email`),
  KEY `idx_admins_email_status` (`email`,`status`),
  KEY `idx_admins_role` (`role`),
  KEY `idx_admins_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Administrative users, dispatch managers, and portal operators';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Super Administrator','admin@sentrova.co.uk','dc8b2df64654c427d7b01ef55a2e5d816072f661ab6013118285dab12ef9858474fecfd36608b40c020d679eafe1d74f5a7032d1826584ccc157d3c29c2333e6','694906f38716463929c061a6bc7f2573','super_admin','active','2026-09-11 04:08:07','127.0.0.1','2026-09-07 06:46:57','2026-09-11 04:08:07');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_messages`
--

DROP TABLE IF EXISTS `contact_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contact_messages` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(120) NOT NULL COMMENT 'Sender full name',
  `email` varchar(191) NOT NULL COMMENT 'Sender contact email',
  `phone` varchar(50) DEFAULT NULL COMMENT 'Optional contact telephone number',
  `subject` varchar(200) NOT NULL COMMENT 'Subject line',
  `message` text NOT NULL COMMENT 'Inquiry content',
  `status` enum('new','read','replied','archived') NOT NULL DEFAULT 'new' COMMENT 'Triage status',
  `admin_notes` text DEFAULT NULL COMMENT 'Internal operator response notes',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_contacts_status` (`status`),
  KEY `idx_contacts_email` (`email`),
  KEY `idx_contacts_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Public contact desk submissions and technical support inquiries';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_messages`
--

LOCK TABLES `contact_messages` WRITE;
/*!40000 ALTER TABLE `contact_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faq` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `question` varchar(255) NOT NULL COMMENT 'Client question header',
  `answer` text NOT NULL COMMENT 'Comprehensive answer text',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display ordering index',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Publish status',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_faq_status_sort` (`status`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Frequently asked questions regarding compatibility, contracts, and SLAs';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `faqs`
--

DROP TABLE IF EXISTS `faqs`;
/*!50001 DROP VIEW IF EXISTS `faqs`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `faqs` AS SELECT
 1 AS `id`,
  1 AS `question`,
  1 AS `answer`,
  1 AS `sort_order`,
  1 AS `status`,
  1 AS `created_at`,
  1 AS `updated_at` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `industries`
--

DROP TABLE IF EXISTS `industries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `industries` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL COMMENT 'Sector title (e.g., Retail Stores, Warehouses)',
  `slug` varchar(120) NOT NULL COMMENT 'Sector URL slug',
  `description` text NOT NULL COMMENT 'Vulnerability risks and sector playbook overview',
  `icon` varchar(60) NOT NULL DEFAULT 'Building2' COMMENT 'Lucide icon name',
  `image` varchar(255) DEFAULT NULL COMMENT 'Optional sector hero photography',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display sorting index',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Publish status',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_industries_slug` (`slug`),
  KEY `idx_industries_status_sort` (`status`,`sort_order`),
  KEY `idx_industries_slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Commercial sector verticals and specialized threat playbooks';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `industries`
--

LOCK TABLES `industries` WRITE;
/*!40000 ALTER TABLE `industries` DISABLE KEYS */;
/*!40000 ALTER TABLE `industries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package_features`
--

DROP TABLE IF EXISTS `package_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `package_features` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `package_id` int(10) unsigned NOT NULL COMMENT 'Foreign key to parent package',
  `feature` varchar(255) NOT NULL COMMENT 'Feature or checklist description',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display ordering within package card',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pkg_features_pkg` (`package_id`,`sort_order`),
  CONSTRAINT `fk_pkg_features_package` FOREIGN KEY (`package_id`) REFERENCES `packages` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Checklist items and capabilities tied to monitoring tiers';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package_features`
--

LOCK TABLES `package_features` WRITE;
/*!40000 ALTER TABLE `package_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `package_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `packages`
--

DROP TABLE IF EXISTS `packages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `packages` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL COMMENT 'Package title (e.g., ESSENTIAL, GROWTH, ULTIMATE)',
  `slug` varchar(100) NOT NULL COMMENT 'URL-friendly package slug',
  `subtitle` varchar(255) NOT NULL COMMENT 'Target scope (e.g., Customer + Staff Monitoring)',
  `price` decimal(10,2) NOT NULL COMMENT 'Hourly rate per active monitoring hour (e.g., 1.99, 2.99, 5.99)',
  `currency` varchar(10) NOT NULL DEFAULT '$' COMMENT 'Currency symbol ($ or ┬ú)',
  `billing_unit` varchar(20) NOT NULL DEFAULT '/HR' COMMENT 'Billing frequency (/HR, /MO)',
  `description` text DEFAULT NULL COMMENT 'Comprehensive tier summary',
  `popular` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 if featured as Most Popular badge, else 0',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display ordering',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Availability status',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_packages_slug` (`slug`),
  KEY `idx_packages_status_sort` (`status`,`sort_order`),
  KEY `idx_packages_popular` (`popular`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hourly surveillance packages and service-level agreements';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `packages`
--

LOCK TABLES `packages` WRITE;
/*!40000 ALTER TABLE `packages` DISABLE KEYS */;
/*!40000 ALTER TABLE `packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_orders`
--

DROP TABLE IF EXISTS `payment_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_orders` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `transaction_id` varchar(100) NOT NULL,
  `invoice_number` varchar(100) NOT NULL,
  `company_name` varchar(150) NOT NULL,
  `contact_name` varchar(120) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `location` varchar(150) DEFAULT NULL,
  `package_id` int(10) unsigned DEFAULT NULL,
  `package_name` varchar(100) NOT NULL,
  `package_slug` varchar(100) NOT NULL,
  `hourly_rate` decimal(10,2) NOT NULL,
  `hours_purchased` int(11) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `tax_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(10,2) NOT NULL,
  `currency` varchar(10) NOT NULL DEFAULT 'USD',
  `camera_count` int(11) NOT NULL DEFAULT 1,
  `setup_date` varchar(50) DEFAULT NULL,
  `special_instructions` text DEFAULT NULL,
  `payment_method` varchar(50) NOT NULL DEFAULT 'card',
  `payment_intent_id` varchar(150) DEFAULT NULL,
  `card_last4` varchar(10) DEFAULT NULL,
  `card_brand` varchar(50) DEFAULT NULL,
  `status` enum('paid','pending','active','cancelled','refunded') NOT NULL DEFAULT 'paid',
  `is_sandbox` tinyint(1) NOT NULL DEFAULT 1,
  `admin_notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_transaction_id` (`transaction_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_orders`
--

LOCK TABLES `payment_orders` WRITE;
/*!40000 ALTER TABLE `payment_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_requests`
--

DROP TABLE IF EXISTS `quote_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quote_requests` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(120) NOT NULL COMMENT 'Primary contact person',
  `business_name` varchar(150) NOT NULL COMMENT 'Facility / store trading name',
  `phone` varchar(50) NOT NULL COMMENT 'Contact phone or WhatsApp number',
  `email` varchar(191) NOT NULL COMMENT 'Business email address',
  `location` varchar(150) DEFAULT NULL COMMENT 'Store city, borough, or postcode',
  `camera_count` int(10) unsigned NOT NULL DEFAULT 1 COMMENT 'Number of cameras to be monitored',
  `package_id` int(10) unsigned DEFAULT NULL COMMENT 'Selected monitoring tier foreign key',
  `message` text DEFAULT NULL COMMENT 'Site details, monitoring hours, or security concerns',
  `status` enum('new','contacted','in_progress','completed','cancelled') NOT NULL DEFAULT 'new' COMMENT 'CRM lead lifecycle pipeline status',
  `admin_notes` text DEFAULT NULL COMMENT 'Internal notes and follow-up chronology',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_quotes_status` (`status`),
  KEY `idx_quotes_email` (`email`),
  KEY `idx_quotes_created_at` (`created_at`),
  KEY `idx_quotes_package_id` (`package_id`),
  CONSTRAINT `fk_quote_package` FOREIGN KEY (`package_id`) REFERENCES `packages` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Prospective business leads, surveillance audit requests, and camera sizing';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_requests`
--

LOCK TABLES `quote_requests` WRITE;
/*!40000 ALTER TABLE `quote_requests` DISABLE KEYS */;
INSERT INTO `quote_requests` VALUES (4,'Basheer Bilal','Basheer','+923092429025','basheerbilal36@gmail.com',NULL,8,3,NULL,'in_progress','guyu88t','2026-09-07 07:03:57','2026-09-08 09:58:47'),(9,'BILAL','Basheer','03092429025','basheerbilal36@gmail.com',NULL,8,NULL,'[Sector: Retail Store] [Target Tier: growth]','new','','2026-09-11 03:59:38','2026-09-11 03:59:38');
/*!40000 ALTER TABLE `quote_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `services` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(120) NOT NULL COMMENT 'URL-safe identifier (e.g., customer-theft, shoplifting)',
  `title` varchar(150) NOT NULL COMMENT 'Human-readable service title',
  `short_description` varchar(255) NOT NULL COMMENT 'Concise overview for cards and badges',
  `description` longtext NOT NULL COMMENT 'Detailed technical operational breakdown',
  `icon` varchar(60) NOT NULL DEFAULT 'ShieldAlert' COMMENT 'Lucide icon identifier',
  `image` varchar(255) DEFAULT NULL COMMENT 'Optional hero or card graphic asset path',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display ranking order',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Publication status',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_services_slug` (`slug`),
  KEY `idx_services_status_sort` (`status`,`sort_order`),
  KEY `idx_services_slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Core surveillance capabilities and operational modules';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_settings`
--

DROP TABLE IF EXISTS `site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_settings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `key_name` varchar(100) NOT NULL COMMENT 'Unique programmatic configuration key',
  `key_value` longtext DEFAULT NULL COMMENT 'Value payload (string, markdown, or JSON)',
  `field_group` varchar(50) NOT NULL DEFAULT 'general' COMMENT 'Grouping category (general, contact, branding, seo, social)',
  `description` varchar(255) DEFAULT NULL COMMENT 'Human-readable explanation of configuration purpose',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_settings_key_name` (`key_name`),
  KEY `idx_settings_key_name` (`key_name`),
  KEY `idx_settings_field_group` (`field_group`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='CMS configuration keys, 24/7 hotline numbers, and SEO metadata';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_settings`
--

LOCK TABLES `site_settings` WRITE;
/*!40000 ALTER TABLE `site_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testimonials`
--

DROP TABLE IF EXISTS `testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testimonials` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `customer_name` varchar(120) NOT NULL COMMENT 'Client executive or store owner name',
  `company_name` varchar(150) NOT NULL COMMENT 'Business or chain name',
  `designation` varchar(100) DEFAULT NULL COMMENT 'Role (e.g., Managing Director, Head of Security)',
  `content` text NOT NULL COMMENT 'Verbatim testimonial statement',
  `rating` tinyint(3) unsigned NOT NULL DEFAULT 5 COMMENT 'Star rating between 1 and 5',
  `image` varchar(255) DEFAULT NULL COMMENT 'Client avatar or store facade photo path',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Display order ranking',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Review status',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_testimonials_status_sort` (`status`,`sort_order`),
  KEY `idx_testimonials_rating` (`rating`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Verified commercial client testimonials and reviews';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testimonials`
--

LOCK TABLES `testimonials` WRITE;
/*!40000 ALTER TABLE `testimonials` DISABLE KEYS */;
/*!40000 ALTER TABLE `testimonials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `faqs`
--

/*!50001 DROP VIEW IF EXISTS `faqs`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `faqs` AS select `faq`.`id` AS `id`,`faq`.`question` AS `question`,`faq`.`answer` AS `answer`,`faq`.`sort_order` AS `sort_order`,`faq`.`status` AS `status`,`faq`.`created_at` AS `created_at`,`faq`.`updated_at` AS `updated_at` from `faq` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-11  4:20:19
